*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
    font-family: serif;
}
html,body{
    height:100%;
    width:100%;
}
#main{
    position: relative;
    overflow: hidden;
}
#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
}
#page1 video{
    position: absolute;
    height: 100%;
    width: 50%;
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%);
}
#page1 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    position: absolute;
    height: 7vh;
    width: 50vw;
    background-color: black;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}
#page1 h3{
    color: white;
    font-weight: 100;
    font-size: 24px;
}
#page1 nav button{
    padding: 8px 20px;
    border-radius: 50px;
    border: none;
    background-color: white;
}
#page1-Bottom{
    height: 20%;
    width: 25%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page1-Bottom h3{
    color: #3a3434;
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 1vw;
}
#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}
#page2 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page2 h1{
    font-size: 4vw;
    color: white;
    font-weight: 400;
    position: absolute;
    bottom: 10%;
    left:50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page3 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page3 h1{
    font-size: 4vw;
    color: white;
    font-weight: 400;
    position: absolute;
    bottom: 10%;
    left:50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
}
#page4{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page4 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page4 h1{
    font-size: 4vw;
    color: white;
    font-weight: 400;
    position: absolute;
    bottom: 10%;
    left:50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
}
#page5{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page5>img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#page5-Upper{
    height: 30%;
    width: 35%;
    position: absolute;
    z-index: 9;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}
#page5-Upper>img{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}
#page5-Upper-Inner{
    position: absolute;
    bottom: 0%;
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    color: orange;
    font-size: 24px;
    font-weight: 500;
}
#page5 button{
    position: absolute;
    bottom: 14%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 40px;
    border: 1px solid black;
    border-radius: 50px;
    font-weight: 500;
    background-color: white;
    scale: 1.3;
}
#page6a{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page6a video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page6a h1{
    font-size: 4vw;
    color: white;
    font-weight: 400;
    position: absolute;
    bottom: 10%;
    left:50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
}
#page6b{
    display: flex;
    position: relative;
    height: 60vh;
    width: 100vw;
}
.leftpart{
    position: relative;
    height: 100%;
    width: 50%;
}
.leftpart h1{
    font-size: 2.3vw;
    position: absolute;
    left: 60%;
    transform: translateX(-50%);
    top: 10%;
}
.rightpart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
    width: 50%;
}
.rightpart p{
    position:absolute;
    width: 65%;
    color: #30252593;
    font-size: 22px;
    line-height: 1.3;
    text-align: left;
    top: 10%;
    font-weight: 700;
}
.rightpart button{
    position: absolute;
    padding: 20px 50px;
    color: white;
    background-color: orangered;
    border-radius: 50px;
    border: none;
    bottom: 30%;
    font-size: 24px;
}

#page8a{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page8a video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page8a h1{
    font-size: 4vw;
    color: white;
    font-weight: 400;
    position: absolute;
    bottom: 10%;
    left:50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
}
#page8b{
    display: flex;
    position: relative;
    height: 60vh;
    width: 100vw;
}
#page9{
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: #f5f5f7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#page9 h3{
    margin-bottom: 1vw;
    font-size: 2vw;
}
#page9 h1{
    margin-bottom: 1.5vw;
    font-size: 4vw;
}
#page9 p{
    width: 60%;
    font-size: 1.2vw;
    font-weight: 700;
    color: #545454c9;
}
#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page10>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 99;
}
#page11{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}
#page11>h1{
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    width: 22%;
    font-size: 1.4vw;
    font-weight: 500;
    color:#4d4d4d;
    z-index: 99;
    position: absolute;
}
#page11>h1>span{
    color: black;
}
#page12{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}
#page12>h1{
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    width: 22%;
    font-size: 1.4vw;
    font-weight: 500;
    color:#4d4d4d;
    z-index: 99;
    position: absolute;
}
#page12>h1>span{
    color: black;
}
#page13{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}
#page13>h1{
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    width: 22%;
    font-size: 1.4vw;
    font-weight: 500;
    color:#4d4d4d;
    z-index: 99;
    position: absolute;
}
#page13>h1>span{
    color: black;
}
#page14{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}
#page14>h1{
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    width: 22%;
    font-size: 1.4vw;
    font-weight: 500;
    color:#4d4d4d;
    z-index: 99;
    position: absolute;
}
#page14>h1>span{
    color: black;
}
#page15{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}
#page15>h1{
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    width: 22%;
    font-size: 1.4vw;
    font-weight: 500;
    color:#4d4d4d;
    z-index: 99;
    position: absolute;
}
#page15>h1>span{
    color: black;
}
#page16{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}
#page16>h1{
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    width: 22%;
    font-size: 1.4vw;
    font-weight: 500;
    color:#4d4d4d;
    z-index: 99;
    position: absolute;
}
#page16>h1>span{
    color: black;
}
#page17{
    margin-top: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}
.left17{
    height: 95%;
    width: 42.5%;
    background-image: url(https://www.apple.com/v/apple-vision-pro/f/images/overview/design/glass_top__k3b8lzqd1l2m_large.jpg);
    background-size:cover;
    background-position: center;
    position: relative;

}
.right17{
    height: 95%;
    width: 42.5%;
    background-image: url(https://www.apple.com/v/apple-vision-pro/f/images/overview/design/glass_side__gm4agomrwl2e_large.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
#page18{
    position:relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items: center;
}
#centerpage18{
    height: 90%;
    width: 90%;
    position: relative;
}
#centerpage18 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page19{
    height: 130vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page19 h2{
    margin: 5vw 0vw;
    width: 35%;
    font-size: 1.2vw;
    color: #726f6f;
}
#page19 h2 span{
    color: black;
}
#page19 button{
    position: absolute;
    bottom: 10%;
    padding: 20px 50px;
    color: white;
    background-color: orangered;
    border-radius: 50px;
    border: none;
    font-size: 24px;
}
#page20{
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0%;
    background-color: black;
}
#page20>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;

}
#page21{
    background-color: black;
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
    position:relative;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.2vw;
}
#page21 h5{
    width: 35%;
}
#page22{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page22>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#center-page22{
    position: absolute;
    height: 20%;
    width: 20%;
    bottom: 18%;
    right: 5%;
    color: #fff;
}
#center-page22>h1{
    margin-bottom: 1.7vw;
}
#page23{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page23>#troff{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
    z-index: 9;
}
#page23>#tron{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
}
#page23a{
    background-color: black;
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
    position:relative;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.2vw;
}
#page23a h5{
    width: 35%;
}
#page24{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page24>#snroff{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
    z-index: 9;
}
#page24>#snron{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
}
#page24a{
    background-color: black;
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
    position:relative;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.2vw;
}
#page24a h5{
    width: 35%;
    margin-bottom: 5%;
}
#page25{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page25>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity:0
}
#page25a{
    background-color: black;
    display: flex;
    height: 55vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
    position:relative;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.2vw;
}
#page25a h5{
    width: 35%;
}
#page25a button{
    padding: 15px 25px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: 24px;
}
#finalpage{
    height: 60vh;
    width: 100vw;
    background-color: #f5f5f7;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 2vw;
}
#finalpage h6{
    width: 35%;
    color: #726f6f;
}
#finalpage h6 span{
    color: black;
}
#finalpage button{
    padding: 20px 50px;
    color: white;
    background-color: orangered;
    border-radius: 50px;
    border: none;
    font-size: 24px;
}
